wikiViewer/index.html
<!DOCTYPE html>
<html>
  <head>
    <title>Wikipedia Viewer</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/cyborg/bootstrap.min.css" rel="stylesheet" integrity="sha384-uSbimwRPo7PKyTL6azsx1CcBce/X9Qg+wX1MAjNV1gAkSXYveZbZeMMyJghdsSol" crossorigin="anonymous">
  </head>
  <body ng-app="app">
    <h1 class="text-center">Wikipedia Viewer </h1>
    <h2 class="text-center">#FreeCodeCamp</h2>
    <h2 class="text-center">By Naresh Mehta</h2>
    <div ng-controller="WikiController">
      <div class="container text-center">
        <h4 class="text-center">
          <form id="searchField" ng-submit="search(searchText)">
            <input type="search" placeholder="What are you looking for?" ng-model="searchText">
            <p></p>
            <input type="button" value="Random Wikipedia Page!" ng-click="getRandomWikiPage()" class="btn btn-default btn-success">
            <input type="button" value="Clear Search Results!" ng-click="clearSearchResults()" class="btn btn-default btn-danger">
          </form>
        </h4>
      </div>
      <div class="container">
        <!-- Search result is stored here-->
        <ol>
          <li ng-repeat="result in queryObjects" class="list-item materialCard note">
            <p class="list-item">{{result.title}} </p><a ng-click="openPage(result.pageid)" class="list-link">{{result.extract}}</a>
          </li>
        </ol>
      </div>
    </div>
    <h4 class="text-center">Copyright (c) 2016 - Naresh Mehta<a href="https://www.naresh.se/" target="_blank"> https://www.naresh.se/</a></h4>
  </body>
</html>

wikiViewer/index.jade
doctype html
html
  head
    title Wikipedia Viewer
    link(href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/cyborg/bootstrap.min.css", rel="stylesheet", integrity="sha384-uSbimwRPo7PKyTL6azsx1CcBce/X9Qg+wX1MAjNV1gAkSXYveZbZeMMyJghdsSol", crossorigin="anonymous")

  body(ng-app="app")
    h1.text-center Wikipedia Viewer
    h2.text-center #FreeCodeCamp
    h2.text-center By Naresh Mehta
    div(ng-controller="WikiController")
      div.container.text-center
        h4.text-center
          form#searchField(ng-submit="search(searchText)")
            input(type="search", placeholder="What are you looking for?", ng-model="searchText")
            p
            input.btn.btn-default.btn-success(type="button", value="Random Wikipedia Page!", ng-click="getRandomWikiPage()")
            input.btn.btn-default.btn-danger(type="button", value="Clear Search Results!", ng-click="clearSearchResults()")
      div.container
        // Search result is stored here
        ol
          li(ng-repeat='result in queryObjects').list-item.materialCard.note
            p.list-item {{result.title}}
            a.list-link(ng-click="openPage(result.pageid)")
              | {{result.extract}}

    h4.text-center Copyright (c) 2016 - Naresh Mehta
        a(href='https://www.naresh.se/', target='_blank')  https://www.naresh.se/
