pomodorClock/index.jade
//output:index.html, pretty:true
doctype html
html(lang="en")
  head
    title Pomodoro Clock By Naresh Mehta
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', rel='stylesheet')
    link(async href='http://fonts.googleapis.com/css?family=Aclonica', data-generated='http://enjoycss.com', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href="style.css")
    link(rel='stylesheet', href="http://www.w3schools.com/lib/w3.css")
    meta(charset="UTF-8", name="viewport", content="width=device-width, initial-scale=1")
    script(data-require="jade@*", data-semver="0.27.7", src="//cdnjs.cloudflare.com/ajax/libs/jade/0.27.7/runtime.js")
    script(data-require="jade@*", data-semver="0.27.7", src="//cdnjs.cloudflare.com/ajax/libs/jade/0.27.7/jade.js")
    script(src="https://npmcdn.com/zone.js@0.6.12/dist/zone.js")
    script(src="https://npmcdn.com/reflect-metadata@0.1.3/Reflect.js")
    script(src="https://npmcdn.com/systemjs@0.19.31/dist/system.js")
    script(src="https://npmcdn.com/typescript@1.8.10/lib/typescript.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js")
    link(rel="stylesheet", type="text/css", href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/rxjs/4.1.0/rx.all.min.js")
    
    script(src="config.js")
    script.
      System.import('app')
        .catch(console.error.bind(console));
  body.content-section
    h1.enjoy-css Pomodoro Clock
    h2(style="text-align:center") By Naresh Mehta
    
  div.content-section
    div.ui.grid.container.centered
      // Now starts the actual code to show the pomodoro clock
      app

  div.content-section
    h4(style="text-align:center") Copyright (c) 2016 - Naresh Mehta 
      a(href='https://www.naresh.se/', target="_blank")  https://www.naresh.se/

pomodorClock/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Pomodoro Clock By Naresh Mehta</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link async href="http://fonts.googleapis.com/css?family=Aclonica" data-generated="http://enjoycss.com" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <script data-require="jade@*" data-semver="0.27.7" src="//cdnjs.cloudflare.com/ajax/libs/jade/0.27.7/runtime.js"></script>
    <script data-require="jade@*" data-semver="0.27.7" src="//cdnjs.cloudflare.com/ajax/libs/jade/0.27.7/jade.js"></script>
    <script src="https://npmcdn.com/zone.js@0.6.12/dist/zone.js"></script>
    <script src="https://npmcdn.com/reflect-metadata@0.1.3/Reflect.js"></script>
    <script src="https://npmcdn.com/systemjs@0.19.31/dist/system.js"></script>
    <script src="https://npmcdn.com/typescript@1.8.10/lib/typescript.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rxjs/4.1.0/rx.all.min.js"></script>
    <script src="config.js"></script>
    <script>
      System.import('app')
        .catch(console.error.bind(console));
    </script>
  </head>
  <body class="content-section">
    <h1 class="enjoy-css">Pomodoro Clock</h1>
    <h2 style="text-align:center">By Naresh Mehta</h2>
  </body>
  <div class="content-section">
    <div class="ui grid container centered">
      <!-- Now starts the actual code to show the pomodoro clock-->
      <app></app>
    </div>
  </div>
  <div class="content-section">
    <h4 style="text-align:center">Copyright (c) 2016 - Naresh Mehta <a href="https://www.naresh.se/" target="_blank"> https://www.naresh.se/</a></h4>
  </div>
</html>
