calculator/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Online Calculator By Naresh Mehta</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link async href="http://fonts.googleapis.com/css?family=Aclonica" data-generated="http://enjoycss.com" rel="stylesheet" type="text/css">
  </head>
  <body class="content-section">
    <h1 class="enjoy-css">Online Calculator</h1>
    <h2 class="text-center">By Naresh Mehta</h2>
    <!-- Now starts the actual code to draw the Calculator-->
    <div class="content-section container">
      <div class="row">
        <div class="col-sm-6 col-centered">
          <div class="container">
            <input id="operations-stack" readonly type="text" maxlength="20" class="css-input">
            <div style="padding-bottom: 0px"></div>
            <input id="results-output" readonly type="text" maxlength="20" class="css-input">
            <div style="padding-bottom: 20px"></div>
            <div class="container">
              <div class="col-sm-16">
                <div class="row button-padding"></div>
                <!--/
                button#btn-mc.calculator-button MC
                button#btn-mr.calculator-button MR
                button#btn-ms.calculator-button MS
                button#btn-mplus.calculator-button M+
                button#btn-mminus.calculator-button M-
                -->
                <div class="row button-padding">
                  <button id="btn-backspace" class="calculator-button">&#8678</button>
                  <button id="btn-ce" class="calculator-button">CE</button>
                  <button id="btn-cancel" class="calculator-button">C</button>
                  <button id="btn-plusminus" class="calculator-button">&#0177</button>
                  <button id="btn-squareroot" class="calculator-button">&#8730</button>
                </div>
                <div class="row button-padding">
                  <button id="btn-seven" class="calculator-button">7</button>
                  <button id="btn-eight" class="calculator-button">8</button>
                  <button id="btn-nine" class="calculator-button">9</button>
                  <button id="btn-divide" class="calculator-button">/</button>
                  <button id="btn-invert" class="calculator-button">1/x</button>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-sm-9">
                <div class="row">
                  <div class="col-xs-6 col-sm-6">
                    <div class="container">
                      <div class="row button-padding">
                        <button id="btn-four" class="calculator-button">4</button>
                        <button id="btn-five" class="calculator-button">5</button>
                        <button id="btn-six" class="calculator-button">6</button>
                        <button id="btn-multiply" class="calculator-button">*</button>
                        <!--button#btn-modulo.calculator-button %-->
                      </div>
                      <div class="row button-padding">
                        <button id="btn-one" class="calculator-button">1</button>
                        <button id="btn-two" class="calculator-button">2</button>
                        <button id="btn-three" class="calculator-button">3</button>
                        <button id="btn-subtract" class="calculator-button">-</button>
                      </div>
                      <div class="row button-padding">
                        <button id="btn-zero" class="calculator-button">0</button>
                        <button id="btn-decimal" class="calculator-button">.</button>
                        <button id="btn-plus" class="calculator-button">+</button>
                        <!--button#btn-subtract.calculator-button =-->
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-4 col-sm-6">
                    <div class="container">
                      <button id="btn-equals" class="calculator-button-big">=</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <div class="content-section">
    <h4 class="text-center">Copyright (c) 2016 - Naresh Mehta<a href="https://www.naresh.se/"> https://www.naresh.se/</a></h4>
  </div>
</html>

calculator/index.jade
//output:index.html, pretty:true
doctype html
html(lang="en")
  head
    title Online Calculator By Naresh Mehta
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', rel='stylesheet')
    link(async href='http://fonts.googleapis.com/css?family=Aclonica', data-generated='http://enjoycss.com', rel='stylesheet', type='text/css')
  body.content-section
    h1.enjoy-css Online Calculator
    h2.text-center By Naresh Mehta
    // Now starts the actual code to draw the Calculator
    div.content-section.container
      div.row
        div.col-sm-6.col-centered
          div.container
            input#operations-stack(readonly type='text', maxlength=20).css-input
            div(style='padding-bottom: 0px')
            input#results-output(readonly type='text', maxlength=20).css-input
            div(style='padding-bottom: 20px')
            div.container
              div.col-sm-16
                div.row.button-padding
                ///
                  button#btn-mc.calculator-button MC
                  button#btn-mr.calculator-button MR
                  button#btn-ms.calculator-button MS
                  button#btn-mplus.calculator-button M+
                  button#btn-mminus.calculator-button M-
                div.row.button-padding
                  button#btn-backspace.calculator-button &#8678
                  button#btn-ce.calculator-button CE
                  button#btn-cancel.calculator-button C
                  button#btn-plusminus.calculator-button &#0177
                  button#btn-squareroot.calculator-button &#8730
                div.row.button-padding
                  button#btn-seven.calculator-button 7
                  button#btn-eight.calculator-button 8
                  button#btn-nine.calculator-button 9
                  button#btn-divide.calculator-button /
                  button#btn-invert.calculator-button 1/x
          div.container
            div.row
              div.col-sm-9
                div.row
                  div.col-xs-6.col-sm-6
                    div.container
                      div.row.button-padding
                        button#btn-four.calculator-button 4
                        button#btn-five.calculator-button 5
                        button#btn-six.calculator-button 6
                        button#btn-multiply.calculator-button *
                        //button#btn-modulo.calculator-button %
                      div.row.button-padding
                        button#btn-one.calculator-button 1
                        button#btn-two.calculator-button 2
                        button#btn-three.calculator-button 3
                        button#btn-subtract.calculator-button -
                      div.row.button-padding
                        button#btn-zero.calculator-button 0
                        button#btn-decimal.calculator-button .
                        button#btn-plus.calculator-button +
                        //button#btn-subtract.calculator-button =
                  div.col-xs-4.col-sm-6
                    div.container
                      button#btn-equals.calculator-button-big =
  div.content-section
    h4.text-center Copyright (c) 2016 - Naresh Mehta
      a(href='https://www.naresh.se/')  https://www.naresh.se/
